* {
margin:0;
padding:0;
font-family: sans-serif;

}
body{
    background-color: rgb(24, 24, 24);
}
/* preloader styling */
.loader-bg{
    position:fixed;
    z-index:999999;
    background:rgb(14, 14, 14);
    width:100%;
    height:100%;
}
.loader{
    border: 0 solid transparent;
    border-radius: 50%;
    width:150px;
    height:150px;
    position:absolute;
    top:calc(50vh - 75px);
    left:calc(50vw - 75px);
}
.loader:before,.loader:after{
    content:'';
    border: 1em solid rgb(78, 78, 78);
    border-radius:50%;
    width:inherit;
    height:inherit;
    position:absolute;
    top:0;
    left:0;
    animation: loading 1s linear infinite;
    opacity:0
}
.loader:before{
    animation-delay:.5s;

}
@keyframes loading{
    0%{
        transform: scale(0);
        opacity:0;
    }
    50%{
        opacity:1;
    }
    100%{
        transform:scale(1);
        opacity:0;
    }
}
.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(17, 17, 17, 0.3), rgba(37, 37, 37, 0.3)), url(images/moon.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-attachment: fixed;
    transition: all 0.5s ease;
}
.hero-discover{
  width:0;
  background-color: rgb(24, 24, 24);
}
.hero-discover-height{
    height:0;
}
.navbar{
    width:85%;
    height:15%;
    margin:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    color:white;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}
.logo .b{
    color:rgb(1, 228, 228)
}
.fa-angle-right{
    font-size: 17px;
    color: rgb(46, 255, 255);
    position:absolute;
    margin-left:3px;
    animation: dance 2s alternate infinite;

}
@keyframes dance{
    from{
       
        color: rgb(46, 255, 255);
    }
    to{
       
        color: rgb(246, 248, 248);
    }
}

.bright-design{
    color:rgb(176, 255, 255)
}
button{
    color:#fbfcfd;
    padding:12px 25px;
    background: transparent;
    border:1px solid rgb(112, 112, 112);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: rgba(0,0,0,0.5);
}
.hero .home{
    color: #fbfcfd;
    position:absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
    z-index: 2;
    margin:5px 5px
}
h1{
    position: relative;
    font-size: 80px;
    margin:10px 0 50px;
    line-height: 80px;
    
}

.nav-side-bar{
    width: 70px;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
}
.nav-side-bar-content a{
    list-style: none;
    color:rgba(97, 97, 97, 0.5);
    font-size: 30px;
    margin:40px 20px
}
.links-side-bar{
    width: 70px;
    height: 100vh;
    position: absolute;
    right:0;
    top:75%;
    bottom:0;
}
.menu{
    display:block;
    width:25px;
    margin:40px auto 0;
    cursor: pointer;
}
.socials{
    text-align: center;
    width: 40px;
    margin:5px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
    transition: 0.3s;
}
.socials:hover{
    background-color: black;
    border-radius: 50%;
}

.asteroids{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
    
}
.asteroids img{
    width:30px;
    animation: hoover 7s linear infinite ;
}
.asteroids img:nth-child(1){
    animation-duration: 11s;
    width:200px;
}
.asteroids img:nth-child(2){
    animation-duration: 10s;
    width:150px
}
.asteroids img:nth-child(3){
    animation-duration: 18s;
    width:78px
}
.asteroids img:nth-child(4){
    
    animation-duration: 12s;
    width:50px
}
.asteroids img:nth-child(5){
    animation-duration: 14.5s;
    width:200px
}
.asteroids img:nth-child(6){
    animation-duration: 17.5s;
    width:90px
}
.asteroids img:nth-child(7){
    animation-duration: 15s;
    width:200px
}
.asteroids img:nth-child(8){
    animation-duration: 20s;
    width:200px
}
@keyframes hoover{
    0%{
        transform: scale(0);
        transform: translateY(0);
        opacity:0;
        transform: rotate(-90deg);
    }
    50%{
        
        opacity:1;
    }
    70%{
        opacity:1;
    }
    100%{
        transform: scale(50px);
        transform: translateY(-80vh);
        opacity:0;
    }
}


.footer{
    color: rgb(165, 165, 165);
    position:absolute;
    bottom:0;
    justify-content: center;
    width:100%;
    display: flex;
    padding:10px;
}

.discover-section{
    display:none;
}

.discover-nav{
    width:100%;
    height:8%;
    position:fixed;
    background-color: rgba(24, 24, 24,0.9);
    box-shadow: 0 1px 2px 0 rgba(151, 151, 151, 0.2), 0 6px 20px 0 rgba(184, 184, 184, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.discover-nav .back-home{
    font-size: 35px;
    color:rgb(255, 255, 255);
    margin:10px;
}
.discover-nav .categories{
    display:flex;
    justify-content: space-between;
    width: 50%;
    color:rgb(128, 128, 128)
}
.discover-nav .category{
    margin-left:5%;
    font-size: 20px;
    color:rgb(197, 197, 197);
    font-weight: 100;
    cursor: pointer;
    transition: 0.3s;
}
.discover-nav .category:hover{
    color: white;
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
}
.active-category{
    border-bottom: 1px solid rgb(165, 165, 165);
    animation: slide-in all ease 0.5s;

}

@keyframes slide-in{
    from{
        border-bottom: 0;
    }
    to{
        border-bottom: 1px;
    }
}

.discover-nav .logo{
    color:rgba(255, 255, 255);
    margin-left:5px;
    width:25%;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}
.discover-nav .sign-up{
    padding:10px 22px;
    color: rgb(172, 172, 172);
}
.discover-nav .menu-btn{
  display: none;
}

.discover-nav .sign-up:hover{
    color: rgb(255, 255, 255);
}
.discover-content{
    padding-top:10%;
    background-color: rgb(24, 24, 24);
    height: 100vh;
    width:100%;
}
.discover-content .items{
    display:flex;
    justify-content: center;
    width:100%;
    flex-wrap: wrap;
}
.discover-content .items .item {
    padding:1%;
    width: calc(33% - 20px);
    min-width:250px;
    background-color: rgb(31, 31, 31);
    width:20%;
    cursor: pointer;
    margin: 10px;
   
}
.discover-content .items .item img{
    width: 100%;
}
.items-title{
    display:none;
    color:white;
    padding:10px;
    text-align: center;
}
.items .item .item-content {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color:rgb(126, 126, 126);
    font-size: 14px;
    font-weight: 100;
    padding-top:10px;
    padding-bottom:10px;
}
.items .item .item-content p{
    padding-top:10px;
}
.items .item .item-content .avatar{
    width:50px;
    border-radius: 50%;
}
.items .item .item-footer {
    text-align: center;
    color:rgb(126, 126, 126);
    font-size: 14px;
    font-weight: 100;
    padding-top:10px;
    border-top:1px solid rgb(48, 48, 48);
}

/* responsive styling */
@media (max-width: 800px) {
    .discover-nav .category,.discover-nav .sign-up{
      display: none;
    }
    .discover-nav .menu-btn{
        display: block;
        width:25px;
        margin-right:10px
    }
    .discover-content{
        padding-top: 15%;
    }
    .items-title{
        display:block
    }
}
@media (max-width: 900px) {
    .navbar{
       width:80%
    }
}
@media (max-width: 600px) {
    .navbar{
       width:70%
    }
    h1{
        font-size: 70px;
    }
}
@media (max-width: 400px) {
    .navbar{
        margin-left: 60px;
       width:75%;
       height: 13%;
    }
    .discover{
        background-color: rgba(0,0,0,0.5);
    }
    .logo{
        font-size: 35px;
    }
    h1{
        font-size: 50px;
        line-height: normal;
    }
    .menu{
        margin:30px auto 0;
    }
    .about #intro{
        font-size: 20px;
    }
}