.hero{
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-attachment: fixed; 
    transition: all 0.5s ease;
}

.logo{
    color:white;
    font-weight: 700;
    font-size: 40px;
    cursor: pointer;
}
.logo .b{
    color:rgb(1, 228, 228)
}
.fa-angle-right{
    font-size: 17px;
    color: rgb(46, 255, 255);
    position:absolute;
    margin-left:3px;
    animation: dance 2s alternate infinite;

}
@keyframes dance{
    from{
       
        color: rgb(46, 255, 255);
    }
    to{
       
        color: rgb(246, 248, 248);
    }
}

.bright-design{
    color:rgb(176, 255, 255)
}
button{
    color:#fbfcfd;
    padding:12px 25px;
    background: transparent;
    border:1px solid rgb(112, 112, 112);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: rgba(0,0,0,0.5);
}
.hero .home{
    color: #fbfcfd;
    position:absolute;
    top:50%;
    left:8%;
    transform: translateY(-50%);
    z-index: 2;
    margin:5px 5px
}
h1{
    position: relative;
    font-size: 80px;
    margin:10px 0 50px;
    line-height: 80px;
    
}

.nav-side-bar{
    width: 70px;
    height: 100vh;
    position: absolute;
    left:0;
    top:0;
}
.nav-side-bar-content a{
    list-style: none;
    color:rgba(97, 97, 97, 0.5);
    font-size: 30px;
    margin:40px 20px
}
.links-side-bar{
    width: 70px;
    height: 100vh;
    position: absolute;
    right:0;
    top:75%;
    bottom:0;
}
.menu{
    display:block;
    width:25px;
    margin:40px auto 0;
    cursor: pointer;
}
.socials{
    text-align: center;
    width: 30px;
    margin:5px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 1;
    transition: 0.3s;
}
.socials:hover{
    background-color: black;
    border-radius: 50%;
}

.asteroids{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
    
}
.asteroids img{
    width:30px;
    animation: hoover 7s linear infinite ;
}
.asteroids img:nth-child(1){
    animation-duration: 11s;
    width:200px;
}
.asteroids img:nth-child(2){
    animation-duration: 10s;
    width:150px
}
.asteroids img:nth-child(3){
    animation-duration: 18s;
    width:78px
}
.asteroids img:nth-child(4){
    
    animation-duration: 12s;
    width:50px
}
.asteroids img:nth-child(5){
    animation-duration: 14.5s;
    width:200px
}
.asteroids img:nth-child(6){
    animation-duration: 17.5s;
    width:90px
}
.asteroids img:nth-child(7){
    animation-duration: 15s;
    width:200px
}
.asteroids img:nth-child(8){
    animation-duration: 20s;
    width:200px
}
@keyframes hoover{
    0%{
        transform: scale(0);
        transform: translateY(0);
        opacity:0;
        transform: rotate(-90deg);
    }
    50%{
        
        opacity:1;
    }
    70%{
        opacity:1;
    }
    100%{
        transform: scale(50px);
        transform: translateY(-80vh);
        opacity:0;
    }
}



